


:root {
  font-size: 1.2em;
}


$primary: #1097E4;


// IMPORT BOOTSTRAP
@import "../bower_components/bootstrap/scss/bootstrap";

@import "./_width";
@import "./_height";
@import "./_border";
@import "./_cursor";
@import "./_opacity";
@import "./_overflow";
@import "./_resize";
@import "./_background";
@import "./_position";
@import "./_z-index";
@import "./_transform";
@import "./_word-wrap";

@import "./_custom-away";
@import "./_custom-wrappers";
@import "./_custom-button";
@import "./_custom-scrollbar";



// Enable shadows
$enable-shadows: true;



/////////////////////////////////////// Page styling

.main {

  &__article {

    &__photo {

      &--about {

        position: relative;

        z-index: 1;

        &::before,
        &::after {

          content: "";

          display: block;

          width: 60%;
          height: 60%;

          background-color: $primary;

          position: absolute;

          z-index: -1;
        }

        &::before {
          top: -5px;
          left: -5px;
        }

        &::after {
          bottom: -5px;
          right: -5px;
        }

        &--alt {

          position: relative;

          z-index: 1;

          &::before,
          &::after {

            content: "";

            display: block;

            width: 40%;
            height: 40%;

            background-color: $primary;

            position: absolute;

            z-index: -1;
          }

          &::before {
            top: -5px;
            right: -5px;
          }

          &::after {
            bottom: -5px;
            left: -5px;
          }
        }
      }
    }

    &--offer {

      background-image: url('../images/building.jpg');
      background-position: center;
      background-size: auto 100vh;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-color: #383838;

      &__btn:hover {
        @extend .bg-light-9;
      }

      &__btn.active {
        @extend .bg-light-10;
      }
    }

    &--installations {

      &__sublist-elem {

        & a {

          transition: 150ms ease-in-out;

          &:hover {
            @extend .bg-dark-6;

            text-decoration: none;
          }
        }
      }
    }
  }
}
